// UploadImages.scss
.preview-img {
  display: flex;
  border: green solid 2px;
  padding: 10px;
  margin: 20px;
  height: 100px;
  gap: 5px;
}
.gallery {
  display: flex;
  border: green solid 2px;
  padding-left: 111px;
  margin: 20px;
}
.setting-img {
  border-radius: 12px;
  width: 30px; // Adjust the maximum width as needed
  max-height: 50px; // Adjust the maximum height as needed
}
